ul li  {
 list-style-type: none;
}
a  {
 text-decoration: none;
 color: #000;        
}
h1{
 font-size: 2em;
}
h2,h3,h4  {
  font-size: 1.5em;
}
#onpage{
 text-decoration: underline overline ;
 text-decoration-color: red;      
}
#pagecontainer  {
 background-color: #9FE2BF;
 min-width: 960px;
 font-family: 'Oswald', sans-serif;
}
#headercontainer  {
 overflow: hidden;
 padding-bottom: 5%;
}
#navbar  {
 background-color: orange;
 width: 100%;
 position:sticky;
 top:0%;
 z-index: 1;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 border:0;
 padding:0;
 margin:0;
}
#navbar  li  {
 padding-top: 2%;
 padding-left: 5%;
 padding-right: 5%;
}
#navbar li:hover  {
 background: #fff;
 opacity: 0.50;     
}
#nav1  {
  
}

#nav2  {

}

#nav3  {

}
#lowerheader  {
 
}
#banner  {
display: block;
 border:0;
 padding:0;
 margin:0;
 left:0%;
}
#righthalf  {
 
}
#title  {
display: block;
 border:0;
 padding:0;
 margin:0;
}

#subtitle  {
display: block;
 border:0;
 padding:0;
 margin:0;
}
/*^Header Section^*/
#articlescontainer  {
  
}
#article1container  {
  
}
#article2container  {
  
}


/*^Main content^*/
#albumcontainer  {
  
}
#album1  {
  
}
#album2  {
  
}
#album3  {
  
}
#album4  {
  
}

#album5  {
  
}
#gameartcontainer{  

}
#gameart1  {
  
}
#gameart2  {
  
}
#gameart3  {
  
}
#gameart4  {
  
}
#gameart5  {
  
}
#favoritescontainer  {
  
}
/*index specific css*/

/*medialibrary specific css*/

/*counselingresources specific css*/