body  {
 min-width: 960px;
}
ul li  {
 list-style-type: none;
}
a  {
 text-decoration: none;
 color: #000;        
}
#onpage{
 text-decoration: underline overline ;
 text-decoration-color: red;      
}
#pagecontainer  {
 background-color: #9FE2BF;
}
#headercontainer  {
 
}
#navbarcontainer  {

}
#navbar  {
 background-color: orange;
 width: 100%;
 position:sticky;
 float:left;
 top:0%;
 z-index: 1;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 border:0;
 padding:0;
 margin:0;
}
#navbar  li  {
 padding-top: 2%;
 padding-left: 5%;
 padding-right: 5%;
}
#navbar li:hover  {
 background: #fff;
 opacity: 0.50;     
}
#nav1  {

}

#nav2  {

}

#nav3  {

}
#banner  {

}

#title  {

}

#subtitle  {

}
/*^Header Section^*/

/*Main content*/

/*index specific css*/

/*medialibrary specific css*/

/*counselingresources specific css*/