body  {
 min-width: 960px;
}
ul li  {
 list-style-type: none;
}
a  {
 text-decoration: none;
 color: #000;        
}
#onpage{
 text-decoration: underline overline ;
 text-decoration-color: red;      
}
#pagecontainer  {
 background-color: #9FE2BF;
}
#headercontainer  {
 
}
#navbarcontainer  {

}

#navbar  {

}

#nav1  {

}

#nav2  {

}

#nav3  {

}
#banner  {

}

#title  {

}

#subtitle  {

}
/*^Header Section^*/

/*Main content*/

/*index specific css*/

/*medialibrary specific css*/

/*counselingresources specific css*/